body {
    background-blend-mode: luminosity;    
    background-position: center;
    background-image: url(https://cdn.bulbagarden.net/upload/e/e8/700Sylveon.png);
    background-attachment: fixed; 
    background-color: lightpink;
    opacity: 0.75; 
   
}

header {
    font-size: 40px;
    position: fixed;
    color: white;
    top: 0px;
    left: 0px;
    background-color: black;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#a1 {
    margin-left: 40px;
    padding: 20px;
}

h5 {
    font-size: 35px;
}

.one {
    font-size: 30px;
    text-align: center;
}

div {
    font-size: 25px;
}
