body {
     background-blend-mode: luminosity;   
    background-position: center;
    background-image: url(https://cdn.bulbagarden.net/upload/e/e8/700Sylveon.png);
    background-attachment: fixed;
    background-color: lightpink;
    opacity: 0.75;
   
}

h1 {
     background-color: grey;
    opacity: 0.5; 
    float: center;
    font: georgia, sans-serif;
    text-align: center;
    font-size: 100px;
    color: white;
    box-shadow: 10px 10px 10px 10px #808080;
}

h2 {
    
    opacity: 0.5; 
    color: black;
    font-size: 45px;
    font: center;
    text-align: center;
}

p {
  opacity: 0.5; 
  color: black; 
  /* box-shadow: 5px 5px 5px #808080; */
  padding: 5px;
}


li {
    text-align: center;
}

ol {
    color: black;
     /* background-color: grey; */
    opacity: 0.5;
     /* list-style-type: none;  */
    margin-left: auto;
    margin-right: auto; 
     display: inline-block center; 
    font-size: 25px;
    list-style-position: inside;
} 

.one {
    font-size: 40px;
    font: bold;
    
}

section {
    text-align: center;
}